.footer_container {
    position: relative;
    overflow: hidden;
    color: rgb(255, 255, 255);
    background: rgb(0, 0, 0);
    /* margin-top: 250px; */
    
}

.footer_content {
    position: relative;
    z-index: 1;
    /* padding: 35px 0 100px 0; */
}

.footer_outro {
    text-align: center;
}

.footer_outro_content {
    /* padding: 30px 30px 0; */
}

.footer_outro_header h2 {
    font-size: 38px;
    font-weight: 500;
    padding: 100px 0 20px;
    
    
}

.footer_outro_header p {
    font-size: 16px;
    line-height: 24px;
    padding: 0 20px;
    margin: 0;
}

.footer_outro_header a {
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.7);
    padding: 20px 0 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5)
}

.footer_body {
    text-align: center;
}

.footer_body_content {
    padding: 0 30px;
}

.footer_email {
    margin: 50px 0 0 0;
    
}

.footer_email a {
    display: inline-block;
    position: relative;
    font-size: 21px;
    color: rgb(255, 255, 255);
    padding: 0 0 5px 0;
    border-bottom: 1px solid rgba(139, 139, 139, 0.567)
}

.footer_address {
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
    font-weight: 500;
    line-height: 150%;
    margin: 25px auto 0;
}

.footer_address address {
    display: block;
    font-style: normal;
    margin: 0;
}

.footer_address address p {
    margin: 0 auto 0;
}

.footer_phone {
    margin: 30px 0 0;
}

.footer_phone a {
    position: relative;
    font-size: 14px;
    font-weight: 500;
    color: rgb(255, 255, 255);
}

.footer_social {
    position: relative;
    padding: 50px 0 80px;
}

.footer_social_item {
    display: inline-block;
    position: relative;
    width: 55px;
    height: 55px;
    padding: 12px;
    overflow: hidden;
}