.hero_container {
    margin-top: 45px;
    padding: 0 30px;
}

.hero_img  {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 240px;
    height: 240px;
    background-color: rgba(255, 255, 255, 0.6);
    margin: 0 auto;
    border-radius: 50%;
    overflow: hidden;
    animation: heroImgFadeIn 800ms ease-in;
}

@keyframes heroImgFadeIn {
    0% {
        opacity: 0;
    }

    50% {
        opacity: .5;
    }

    100% {
        opacity: 1;
    }
}

.hero_title {
    margin-top: 48px;
    padding-bottom: 12px;

    animation: heroSlideUp 700ms ease-in;
}

.hero_title h1 {
    font-size: 15px;
    color: rgb(255, 255, 255);
}

.hero_nav {
    padding-bottom: 15px;
    
    animation: heroSlideUp 1100ms ease-in;
}

.hero_nav_item a {
    display: inline-block;
    font-size: 38px;
    font-weight: 600;
    line-height: 54px;
    color: rgb(255, 255, 255);
    border-bottom: 1px solid rgba(255, 255, 255, 0.7);
}

.hero_footer_content {
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: .00464286em;
    color: rgb(255, 255, 255);
    padding-top: 30px;
    
    animation: heroSlideUp 1600ms ease-in;
}

.hero_footer_content p {
    margin: 0;
}

@keyframes heroSlideUp {
    0% {
        transform: translateY(20px);
        opacity: 0;
    }

    60% {
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

/* Tablet */
@media screen and (min-width: 768px) {
    .hero_container {
        margin: 70px 0 0 0;
        padding: 0 100px;
    }

    .hero_img {
        width: 347px;
        height: 347px;
    }

    .hero_title {
        margin-top: 100px;
        padding-bottom: 18px;
    }

    .hero_nav {
        padding-bottom: 35px;
    }

    .hero_nav_item a {
        font-size: 55px;
        line-height: 65px;
       
    }
}

/* Large Tablet */
@media screen and (min-width: 1024px) {
    .hero_container {
        padding: 0 120px;
    }

    .hero_header {
        display: flex;
        align-items: center;
    }

    .hero_img {
        width: 320px;
        height: 320px;
        margin: 0 80px 0 0;
    }

    .hero_title {
        margin-top: 0;
    }

    .hero_title h1 {
        font-size: 17px;
    }

    .hero_nav {
        padding-bottom: 0;
    }

    .hero_nav_item a {
        padding: 12px 0;
        font-size: 50px;
        line-height: 55px;
    }

    .hero_footer_content {
        font-size: 20px;
        line-height: 40px;
    }
}

/* Desktop */
@media screen and (min-width: 1200px) {
    .hero_container {
        padding: 0 150px;
        margin-top: 200px;
    }

    .hero_content {
        width: 100%;
    }

    .hero_img {
        display: none;
    }

    .hero_nav_item_spacer::before {
        content: "";
        display: block;
        position: absolute;
        top: -30vh;
        bottom: -30vh;
        left: 0;
        right: 0;
    }

    .hero_nav {
        display: inline-block;
        position: relative;
    }

    .hero_nav_item {
        display: inline-block;
    }

    .hero_nav_item a {
        display: block;
        font-size: 6vw;
        text-shadow: none;
        -webkit-text-stroke: 1px rgb(255, 255, 255);
        color: transparent;
        padding: 12px 15px;
        border: none;
    }

    .hero_nav_container {
        width: 100%;
    }
}