*, *::before, *::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(104, 59, 181);
    /* background-color: rgb(171, 167, 179); */
    margin: 0;
}

h1, h2, h3 {
    margin: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

img {
    display: block; 
    width: 100%;
}

.container {
    /* height: 100%; */
   
}

/* .cursorDiv {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 250;
    pointer-events: none;
    transition: opacity 300ms, color 400ms;

    
} */

/* .cursorDiv::before {
    content: '';
    position: absolute;
    top: -24px;
    left: -24px;
    display: block;
    width: 48px;
    height: 48px;
    transform: scale(0);
    background-color: black;
    border-radius: 50%;
    transition: transform 250ms ease-in-out, opacity 100ms;
}

.cursorDiv.visible::before {
    transform: scale(.2);
} */